.Header {
   /* background: #663399; */
   max-width: full-width;
   display: flex
}

.Hedder-icon {
   margin-left: auto;
}

.header-text {
   color: white;
   text-decoration: none;
   margin: 0;
   padding: 0;
}

.header-memu-text {
   color: #ba5a87;
   text-decoration: none;
   margin: 0;
   padding: 0;
   justify-content: flex-start;
   display: contents;
}

.header-author {
   margin: 0;
   padding: 0 7%;
}

.header-author-text {
   margin: 0;
}

/* .logo-image{
   width: 120px;
} */
@media screen and (max-width: 575px) {
   .header {
      background: rebeccapurple;
      max-width: full-width;


      position: -webkit-sticky;
      position: sticky;
      top: 0;


   }

   .header-author {
      margin: 0;
   }

   /* .logo-image{
      width: 60px;
     } */
}