.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    /* flex-direction: column; */
  }
}

         /* Tab content - closed */
         .tab-content {
          max-height: 0;
          -webkit-transition: max-height .35s;
          -o-transition: max-height .35s;
          transition: max-height .35s;
          }
          /* :checked - resize to full height */
          .tab input:checked ~ .tab-content {
          max-height: 100vh;
          }
          /* Label formatting when open */
          .tab input:checked + label{
          /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
          font-size: 1.25rem; /*.text-xl*/
          padding: 1.25rem; /*.p-5*/
          border-left-width: 2px; /*.border-l-2*/
          border-color: #6574cd; /*.border-indigo*/
          background-color: #f8fafc; /*.bg-gray-100 */
          color: #6574cd; /*.text-indigo*/
          }
          /* Icon */
          .tab label::after {
          float:right;
          right: 0;
          top: 0;
          display: block;
          width: 1.5em;
          height: 1.5em;
          line-height: 1.5;
          font-size: 1.25rem;
          text-align: center;
          -webkit-transition: all .35s;
          -o-transition: all .35s;
          transition: all .35s;
          }
          /* Icon formatting - closed */
          .tab input[type=checkbox] + label::after {
          content: "+";
          font-weight:bold; /*.font-bold*/
          border-width: 1px; /*.border*/
          border-radius: 9999px; /*.rounded-full */
          border-color: #b8c2cc; /*.border-grey*/
          }
          .tab input[type=radio] + label::after {
          content: "\25BE";
          font-weight:bold; /*.font-bold*/
          border-width: 1px; /*.border*/
          border-radius: 9999px; /*.rounded-full */
          border-color: #b8c2cc; /*.border-grey*/
          }
          /* Icon formatting - open */
          .tab input[type=checkbox]:checked + label::after {
          transform: rotate(315deg);
          background-color: #6574cd; /*.bg-indigo*/
          color: #f8fafc; /*.text-grey-lightest*/
          }
          .tab input[type=radio]:checked + label::after {
          transform: rotateX(180deg);
          background-color: #6574cd; /*.bg-indigo*/
          color: #f8fafc; /*.text-grey-lightest*/
          }